name: NuGet Publish

on:
  pull_request:
    types: [closed]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NuGetDirectory: ${{ github.workspace }}/nuget

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'changeset-release/main'
    outputs:
      was_published: ${{ steps.version_bumped.outputs.bumped }}
      version: ${{ steps.semver.outputs.version }}
      prerelease: ${{ steps.semver.outputs.prerelease }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install PNPM
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release PR or Tag
        id: changesets
        uses: changesets/action@v1
        with:
          version: ./.github/scripts/update-version.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Detect version bump
        id: version_bumped
        run: |
          CURRENT_VERSION=$(jq -r .version package.json)
          PREVIOUS_VERSION=$(git show HEAD^:package.json | jq -r .version)

          echo "Current version:  $CURRENT_VERSION"
          echo "Previous version: $PREVIOUS_VERSION"

          if [ "$CURRENT_VERSION" != "$PREVIOUS_VERSION" ]; then
            echo "bumped=true" >> "$GITHUB_OUTPUT"
            echo "version=$CURRENT_VERSION" >> "$GITHUB_OUTPUT"
          else
            echo "bumped=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Extract version
        if: steps.version_bumped.outputs.bumped == 'true'
        uses: apexskier/github-semver-parse@v1
        id: semver
        with:
          version: ${{ steps.version_bumped.outputs.version }}

  pack:
    name: Pack Core SDK
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'changeset-release/main' && needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Pack Core SDK
        run: |
          dotnet pack --configuration Release --output ${{ env.NuGetDirectory }} /p:ContinuousIntegrationBuild=true

      - name: Upload NuGet Packages Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  validate_nuget:
    name: Validate NuGet Packages
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'changeset-release/main' && needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [ release, pack ]
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Download NuGet Packages Artifacts
        uses: actions/download-artifact@v4
        with:
          name: nuget
          path: ${{ env.NuGetDirectory }}

      - name: Install nuget validator
        run: dotnet tool update Meziantou.Framework.NuGetPackageValidation.Tool --global

      - name: Validate package
        run: meziantou.validate-nuget-package (Get-ChildItem "${{ env.NuGetDirectory }}/*.nupkg")

  publish_nuget:
    name: Publish NuGet Packages & Create GitHub Release
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'changeset-release/main' && needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [ release, validate_nuget ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/download-artifact@v4
        with:
          name: nuget
          path: ${{ env.NuGetDirectory }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Publish NuGet packages
        run: |
          dotnet nuget push "${{ env.NuGetDirectory }}/*.nupkg" \
              --api-key "${{ secrets.NUGET_API_KEY }}" \
              --source "https://api.nuget.org/v3/index.json" \
              --skip-duplicate

      - name: Extract Changelog for Specific Version
        id: extract_changelog
        env:
          TARGET_VERSION: ${{ needs.release.outputs.version }}
          CHANGELOG_FILE: 'CHANGELOG.md'
        run: |
          LOG_CONTENT=$(sed -n "/^## $TARGET_VERSION\$/,/^## /{/^## $TARGET_VERSION\$/d; /^## /d; p;}" $CHANGELOG_FILE)
          CLEAN_LOG_CONTENT=$(echo "$LOG_CONTENT" | sed 's/^[ \t]*//;s/[ \t]*$//' | sed '/^$/d')
          echo "changelog_content<<EOF" >> $GITHUB_OUTPUT
          echo "$CLEAN_LOG_CONTENT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'changeset-release/main' && needs.release.outputs.was_published == 'true'
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ needs.release.outputs.version }}
          prerelease: ${{ !!needs.release.outputs.prerelease }}
          name: v${{ needs.release.outputs.version }}
          artifacts: ${{ env.NuGetDirectory }}/*.nupkg
          body: ${{ steps.extract_changelog.outputs.changelog_content }}
