name: Release batched PRs

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NuGetDirectory: ${{ github.workspace }}/nuget

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    outputs:
      was_published: ${{ steps.version_bumped.outputs.bumped }}

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install PNPM
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release PR or Tag
        id: changesets
        uses: changesets/action@v1
        with:
          version: ./.github/scripts/update-version.sh
          publish: ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Detect version bump
        id: version_bumped
        run: |
          CURRENT_VERSION=$(jq -r .version package.json)
          PREVIOUS_VERSION=$(git show HEAD^:package.json | jq -r .version)

          echo "Current version:  $CURRENT_VERSION"
          echo "Previous version: $PREVIOUS_VERSION"

          if [ "$CURRENT_VERSION" != "$PREVIOUS_VERSION" ]; then
            echo "bumped=true" >> "$GITHUB_OUTPUT"
          else
            echo "bumped=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Create and Push Git Tags
        if: steps.version_bumped.outputs.bumped == 'true'
        run: pnpm changeset tag

  build:
    name: Build Projects
    if: needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Restore Packages
        run: dotnet restore --nologo

      - name: Build
        run: dotnet build --no-restore --nologo --configuration Release

      - name: Cache Build
        uses: actions/cache/save@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

  pack:
    name: Pack Core SDK
    if: needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [release, build]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Load Cache
        uses: actions/cache/restore@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Pack Core SDK
        run: |
          dotnet pack --configuration Release --output ${{ env.NuGetDirectory }} /p:ContinuousIntegrationBuild=true

      - uses: actions/upload-artifact@v4
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  validate_nuget:
    name: Validate NuGet Packages
    if: needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [ release, pack ]
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - uses: actions/download-artifact@v4
        with:
          name: nuget
          path: ${{ env.NuGetDirectory }}

      - name: Install nuget validator
        run: dotnet tool update Meziantou.Framework.NuGetPackageValidation.Tool --global

      - name: Validate package
        run: meziantou.validate-nuget-package (Get-ChildItem "${{ env.NuGetDirectory }}/*.nupkg")

  publish_nuget:
    name: Publish NuGet Packages
    if: needs.release.outputs.was_published == 'true'
    runs-on: ubuntu-latest
    needs: [ release, validate_nuget ]
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: nuget
        path: ${{ env.NuGetDirectory }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x.x

    - name: Publish NuGet packages
      run: |
        dotnet nuget push "${{ env.NuGetDirectory }}/*.nupkg" \
            --api-key "${{ secrets.NUGET_API_KEY }}" \
            --source "https://api.nuget.org/v3/index.json" \
            --skip-duplicate
